* {
    margin: 0;
    box-sizing: border-box;
    font-family: "You Are Loved", sans-serif;
    letter-spacing: .2rem;
}


.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}


.marvel-section {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.marvel-section figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.marvel-section img {
    width: 30%;
    height: 100%;
}

.marvel-logo {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50%;
    max-height: 30%;
}


.iron-man-section {
    width: 100vw;
    height: 210vh;
    background-image: url(images/fondo-iron-man.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}

.iron-man-section figure {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.iron-man-section img {
    width: 40%;
}

.iron-man-image {
    position: absolute;
    top: 25rem;
    left: 3rem;
    max-width: 50%;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.description-iron-man {
    color: black;
    position: absolute;
    font-size: 1.2rem;
    width: 40%;
    top: 30rem;
    right: 10rem;
}


.capitan-america-section {
    width: 100vw;
    height: 210vh;
    background-image: url(images/fondo-capitan.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.capitan-america-section figure {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.capitan-america-section img {
    width: 80%;
    margin-top: 3rem;
}

.capitan-america-image {
    position: absolute;
    top: 25rem;
    left: 3rem;
    max-width: 30%;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.shield-image {
    position: absolute;
    top: 30rem;
    left: 25rem;
    max-width: 10%;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.description-capitan-america {
    color: #C0C0C0;
    position: absolute;
    font-size: 1.2rem;
    width: 40%;
    top: 30rem;
    right: 10rem;
}


.thor-section {
    width: 100vw;
    height: 175vh;
    background-image: url(images/fondo-thor.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.thor-section figure {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.thor-section img {
    width: 40%;
    margin-top: 3rem;
}

.thor-image {
    position: absolute;
    top: 32rem;
    left: 5rem;
    max-width: 70vw;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.description-thor {
    color: whitesmoke;
    position: absolute;
    font-size: 1.2rem;
    width: 40%;
    top: 35rem;
    right: 6rem;
}

.spiderman-section {
    width: 100vw;
    height: 120vh;
    background-image: url(images/fondo-spidermna.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.spiderman-section figure {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.spiderman-section img {
    width: 28%;
    margin-top: 0.5rem;
}

.spiderman-image {
    position: absolute;
    top: 20em;
    left: -1rem;
    max-width: 40%;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.description-spiderman {
    color: rgb(0, 0, 128);
    position: absolute;
    font-size: 1.4rem;
    width: 42%;
    top: 14rem;
    right: 7rem;
}

.hulk-section {
    width: 100vw;
    height: 120vh;
    background-image: url(images/fondo-hulk.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.hulk-section figure {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column
}

.hulk-section img {
    width: 27%;
    margin-top: 1.3rem;
}

.hulk-image {
    position: absolute;
    top: 13rem;
    left: 2rem;
    max-width: 40%;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.description-hulk {
    color: #FFA500;
    position: absolute;
    font-size: 1.4rem;
    width: 42%;
    top: 14rem;
    right: 10.3rem;
}

.pantera-negra-section {
    width: 100vw;
    height: 120vh;
    /* background-color: black; */
    background-image: url(images/fondo-pantera.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.pantera-negra-section figure {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column
}

.pantera-negra-section img {
    width: 29%;
    margin-top: -0.1rem;
}


.pantera-image {
    position: absolute;
    top: 7.9rem;
    left: 9.5rem;
    max-width: 19.5%;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.description-pantera {
    color: rgb(28, 28, 28);
    position: absolute;
    font-size: 1.4rem;
    width: 39.1%;
    top: 15.5rem;
    right: 0.6rem;
}


.doctor-strange-section {
    width: 100vw;
    height: 120vh;
    background-image: url(images/fondo-dr.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.doctor-strange-section figure {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column
}

.doctor-strange-section img {
    width: 40%;
    margin-top: -1.5rem;
}

.strange-image {
    position: absolute;
    top: 12.9rem;
    left: 4.1rem;
    max-width: 24.2%;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.description-strange {
    color: rgb(1, 0, 0);
    position: absolute;
    font-size: 1.5rem;
    width: 53.1%;
    top: 12.5rem;
    right: 1.7rem;
}


.viuda-negra-section {
    width: 100vw;
    height: 120vh;
    background-image: url(images/fondo-viuda.webp);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
}

.viuda-negra-section figure {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column
}

.viuda-negra-section img {
    width: 40%;
    margin-top: 1rem;
}

.viuda-image {
    position: absolute;
    top: 9.5rem;
    left: 5rem;
    max-width: 37.2%;
    background-image: inherit;
    background-clip: padding-box;
    background-size: inherit;
}

.description-viuda {
    color: rgb(1, 0, 0);
    position: absolute;
    font-size: 1.4rem;
    width: 44.5%;
    top: 13rem;
    right: 1.7rem;
}



















.footer-section {
    background-color: black;
    width: 100vw;
    height: 30vh;
}

.footer-section figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.footer-image {
    width: 25%;
}